blitzdb
brightway2
bw2analyzer>=0.5.2
bw2calc>=0.15.1
bw2io
bw2parameters
bw2ui>=0.15
colorama
dictdiffer
docopt
fasteners
flask
lxml
nose
numpy
peewee>=2.7.4
progressbar-ipython
requests
scipy
stats_arrays>=0.2.4
unicodecsv
voluptuous
whoosh
wrapt
