appdirs
bw2io
bw2parameters
docopt
eight
fasteners
future
lxml
numpy
peewee>=2.7.4
psutil
pyprind
pytest
pytest-cov
python-coveralls
requests>=1.1.0
scipy
stats_arrays
unicodecsv
voluptuous
whoosh
wrapt
